<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <title>测试首页</title>
</head>

<body>
  <div> hello daisy!</div>
  <form action="/index" method="POST">
    <input type="text" name="data">
    <input type="submit" value="百度一下" name="">
  </form>
  <script src="js/index.js"></script>
</body>

</html> 